doctype html
html(lang='en')
    
    head
    
        meta(charset='utf-8')
        title Ping Pong
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui')
        meta(http-equiv='cleartype', content='on')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(name='apple-mobile-web-app-title', content=title)
        meta(name='description', content=metaDesc)
        link(href='build/#{CSSVersions["base.css"]}', rel='stylesheet')
        
        //- Expose some config variables to the client side app
        //- This needs to be handled more elegantly (and probably on the server side)
        script.
        
            var config = window.config = {
                clientUrl: '#{app.locals.config.clientUrl}',
                clientPort: '#{app.locals.config.clientPort}',
                wsUrl: '#{app.locals.config.clientUrl}' + ':' + '#{app.locals.config.wsPort}',
                winningViewDuration: #{app.locals.settings.winningViewDuration}
            };
            
            if(config.clientPort) {
                config.clientUrl += ':' + config.clientPort;
            }

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='build/#{JSVersions["main.js"]}')

        link(rel='shortcut icon', href='img/logos/startup_icon.png')
        link(rel='icon', href='img/logos/startup_icon.png', type='image/png')
        link(href='img/logos/startup_icon.png', rel='apple-touch-icon')
        
        link(href='img/startup/apple-touch-startup-image-320x460.png', media='(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)', rel='apple-touch-startup-image')
        link(href='img/startup/apple-touch-startup-image-640x920.png', media='(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
        link(href='img/startup/apple-touch-startup-image-640x1096.png', media='(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
        link(href='img/startup/apple-touch-startup-image-768x1004.png', media='(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)', rel='apple-touch-startup-image')
        link(href='img/startup/apple-touch-startup-image-748x1024.png', media='(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)', rel='apple-touch-startup-image')
        link(href='img/startup/apple-touch-startup-image-1536x2008.png', media='(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
    
    body
        div standings will go here :) Can just display a table with all the data coming from the leaderboard. Right now I'm thinking people can navigate to this URL internally to checkout the standings.